 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/usa.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 316px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 0px 8px rgb(181, 29, 29);
  letter-spacing: 2px;
  margin: 102px 310px 0 428px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 15px auto 0 435px;
  padding: 10px 11px 10px 10px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px 349px 60px auto;
  padding: 10px 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 249px;
    margin-left: 314px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 301px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 149px;
    margin-left: 191px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 191px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 96px;
    margin-left: 135px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 125px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1369px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 12px 943px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 12px 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 425px;
  height: auto;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 743px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 523px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-right: 343px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 143px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 675px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}.u-section-4 .u-sheet-1 {
  min-height: 793px;
}

.u-section-4 .u-text-1 {
  margin: 13px auto 0 0;
}

.u-section-4 .u-table-1 {
  margin-top: 25px;
  margin-bottom: 21px;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-a58d-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-body-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-4 .u-table-cell-25 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-4 .u-table-cell-28 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-4 .u-table-cell-30 {
  font-size: 1.875rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-4 .u-table-1 {
    margin-top: 6px;
  }

  .u-section-4 .u-table-cell-25 {
    font-weight: bold;
  }

  .u-section-4 .u-table-cell-28 {
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 173px;
  }

  .u-section-4 .u-table-1 {
    margin-top: -113px;
    margin-bottom: -26px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 330px;
  }

  .u-section-4 .u-table-1 {
    margin-top: -262px;
    margin-bottom: -183px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 425px;
  }

  .u-section-4 .u-table-1 {
    margin-top: -350px;
    margin-bottom: -278px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 892px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-table-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-block-eb4f-7 {
  background-image: none;
}

.u-section-5 .u-table-body-1 {
  font-size: 1.125rem;
}

.u-section-5 .u-table-cell-1 {
  background-image: none;
}

.u-section-5 .u-table-cell-2 {
  background-image: none;
}

.u-section-5 .u-table-cell-3 {
  background-image: none;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-table-2 {
  margin-top: 13px;
  margin-bottom: 30px;
}

.u-block-eb4f-33 {
  background-image: none;
}

.u-section-5 .u-table-cell-13 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-5 .u-table-cell-14 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-5 .u-table-cell-15 {
  font-size: 1.125rem;
}

.u-section-5 .u-table-cell-16 {
  font-size: 1.125rem;
}

.u-section-5 .u-table-cell-17 {
  font-size: 1.125rem;
}

.u-section-5 .u-table-cell-18 {
  font-size: 1.125rem;
}

.u-section-5 .u-table-cell-19 {
  font-size: 1.125rem;
}

.u-section-5 .u-table-cell-20 {
  font-size: 1.125rem;
}.u-section-6 .u-sheet-1 {
  min-height: 1536px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 15px 0 0;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-6 {
  margin: 16px -50px 0 auto;
}

.u-section-6 .u-text-7 {
  margin: 24px 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-9 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-10 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-11 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-12 {
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-6 .u-table-1 {
  margin-top: 0;
  margin-bottom: 12px;
}

.u-block-4558-17 {
  background-image: none;
}

.u-section-6 .u-table-body-1 {
  font-size: 1.125rem;
  font-weight: 700;
}.u-section-7 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-7 .u-text-1 {
  margin: 14px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  margin: 8px 0 0;
}

.u-section-7 .u-table-1 {
  margin-top: 17px;
  margin-bottom: 30px;
}

.u-block-21fc-8 {
  background-image: none;
}

.u-section-7 .u-table-body-1 {
  font-size: 1.125rem;
}

.u-section-7 .u-table-cell-1 {
  background-image: none;
}

.u-section-7 .u-table-cell-2 {
  background-image: none;
}

.u-section-7 .u-table-cell-3 {
  background-image: none;
}.u-section-8 .u-sheet-1 {
  min-height: 769px;
}

.u-section-8 .u-text-1 {
  margin: 14px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-8 .u-text-5 {
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  margin: 9px 0 0;
}

.u-section-8 .u-text-7 {
  font-weight: 400;
  margin: 14px 0 60px;
}.u-section-9 .u-sheet-1 {
  min-height: 690px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-9 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-3 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-4 {
  font-weight: 400;
  margin: 20px auto 20px 0;
}.u-section-10 .u-sheet-1 {
  min-height: 928px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-10 .u-table-1 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-block-32db-6 {
  background-image: none;
}

.u-section-10 .u-table-body-1 {
  font-size: 1.125rem;
}

.u-section-10 .u-table-cell-1 {
  background-image: none;
}

.u-section-10 .u-table-cell-2 {
  background-image: none;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  margin: 14px 0 21px;
}.u-section-11 .u-sheet-1 {
  min-height: 990px;
}

.u-section-11 .u-text-1 {
  margin: 13px auto 0 0;
}

.u-section-11 .u-text-2 {
  font-weight: 400;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-11 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-11 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-5 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}